@model Shopping2022.Models.StateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Departamento/Estado</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CountryId" />

            <partial name="_State" />


            <div class="form-group m-2">
                <input type="submit" class="btn btn-outline-warning" value="Guardar" />
                <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn btn-outline-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
